.profile-pane {
    text-align: center;
    word-wrap: break-word;
    .profile-pane-img {
        height: 200px;
    }
    @media screen and (max-width: 991px) {
        .profile-pane-img {
            height: 100px;
        }
    }
}
