$primary: #5bd9ba;
$secondary: #725ac1;
$navbarHeight: 60px;
html,
body {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    margin: 0;
    padding: 0;
}

.btn {
    border-radius: 200px;
    &:focus {
        box-shadow: 0 0 0 0.2rem transparentize($color: $primary, $amount: 0.5);
    }
    &.btn-primary {
        background-color: $primary;
        border-color: $primary;
        &:hover {
            background-color: darken($primary, 10%);
            border-color: darken($primary, 10%);
        }
        &:active {
            background-color: darken($primary, 20%) !important;
            border-color: darken($primary, 20%) !important;
            box-shadow: 0 0 0 0.2rem transparentize($color: $primary, $amount: 0.5) !important;
        }
    }
    &.btn-primary-outline {
        border-color: $primary;
    }
}
