$primary: #5bd9ba;
$secondary: #5b70d9;
$navbarHeight: 60px;
$gothamRounded:'Gotham Rounded Bold',
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji";
