@import '~@app/variables.scss';
.navbar {
    background-color: $secondary;
    color: #fff;
    position: fixed;
    z-index: 9999;
    width: 100%;
    top: 0;
    height: $navbarHeight;
    font-family: $gothamRounded;
    box-shadow: 0 0 1rem 0.2rem rgba(0, 0, 0, .2);
    .nav-item:not(.active) {
        font-family: 'Gotham Rounded Book', $gothamRounded;
    }
}
