@import '~@app/variables.scss';
.navbar {
    background: $primary;
    color: #fff;
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
    height: $navbarHeight;
    font-family: $gothamRounded;
    box-shadow: 0 0 1rem 0.2rem rgba(0, 0, 0, .2);
    .nav-item:not(.active) {
        font-family: 'Gotham Rounded Book', $gothamRounded;
    }
    .btn-add-post {
        margin-right: 1rem;
    }
    .nav-profile-container {
        display: flex;
        justify-content: center;
        align-items: center;
        .nav-image {
            border-width: 2px;
            box-shadow: none;
            height: 30px;
            width: 30px;
            margin-right: 4px;
        }
    }
    .valign {
        display: flex;
        align-items: center;
    }
}
