.profile-img {
    height: 100px;
    width: auto;
    &.profile-img-loaded {
        border: 4px white solid;
        border-radius: 100px;
        box-shadow: 0 0 1rem 0.2rem rgba(0, 0, 0, .1);
    }
}
