@import '~@app/variables.scss';
// We need to do this because https://github.com/jantimon/html-webpack-plugin/issues/971
@import './fonts/Gotham/stylesheet.css';
#root {
    width: 100%;
}

.root {
    margin-top: $navbarHeight;
    overflow-x: hidden;
    overflow-y: auto;
}
