@import '~@app/variables.scss';
.map-full-height {
    height: 100%;
}

.modal {
    position: fixed;
    top: $navbarHeight;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.2);
    .modal-container {
        background-color: white;
        padding: 2rem;
    }
}
